.travel-div {
  background-color: #f8f8f8;
  border-radius: 20px;
  padding: 30px;
  margin: 30px 30% 0 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.travel-btn {
  border-radius: 10px;
  background-color: #b22222;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.travel-select {
  border-radius: 10px;
  background-color: #dcdcdc;
  border: none;
  color: black;
  padding: 10px;
  min-width: 300px;
  text-align: start;
  font-size: 16px;
  margin: 4px 2px;
}

.ant-select-selector {
  border-radius: 10px !important;
  background-color: white !important;
  color: black !important;
}

.ant-select {
  min-width: 300px;
}

.ant-picker {
  min-width: 300px;
}

.ant-btn-primary {
  border: none;
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
  background-color: #dcdcdc !important;
  color: #b22222 !important;
}
